doctype html
html(lang="ko")
    head
        title #{title} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=title
            nav
                ul
                    li
                        a(href="/video/uploadvideo") upload video
                    li 
                        a(href="/") Home
                    li
                        a(href="/search") Search
                    li 
                        a(href="/join") Join
        main 
            block content
            block main
            include partials/footer.pug