extends base.pug
include mixins/video.pug

block content 
    form(method="get")
        input(name="keyward",placeholder="Write a title",type="text")
        input(value="Search",type="submit")
    div
        each video in videos 
            +video(video)
