extends ../base.pug

block content
    if errorMessage 
        p=errorMessage
    form(method="post")
        input(placeholder="Old Password",type="password",name="old")
        input(placeholder="New Password",type="password",name="newp")
        input(placeholder="New Password Confirmation",type="password",name="newp1")
        input(value="Change Password",type="submit")
        