extends ../base.pug
include ../mixins/video.pug

block content 
    form(method="get").search__form
        input(name="keyward",placeholder="Write a title",type="text")
        button
            i.fas.fa-search
    div.video-grid
        each video in videos 
            +video(video)
        else
            span.empty__message No videos found.
